.title{
  font-family: 'Dancing Script', cursive;
  font-family: 'Luxurious Script', cursive;
  font-size: 12rem;

}
.title2{
  font-family: 'Dancing Script', cursive;
  font-family: 'Luxurious Script', cursive;
  font-size: 4rem;

}
